---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h3>
        {{ site.title }}
      </h3>
    {% endif %}
    {% if site.title %}
      <h4>
        {{ site.description }}
      </h4>
    {% endif %}
  </header>
{% endif %}
<body>
  <section> 
    <img src="{{ site.baseurl }}/kate_pic.jpg" border="0" alt="Null">
  </section>
</body>

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">

    About

  </h1>

  Kate Salama, MD is a board certified adult psychiatrist, who specializes in reproductive psychiatry. She is a graduate of the Women’s Mental Health Psychiatry Fellowship at Brigham and Women’s Hospital in Boston. She worked as an attending psychiatrist within the Division of Women’s Mental Health at Brigham and Women’s Hospital and served as an instructor at Harvard Medical School prior to transitioning into private practice.
  <br>
  <br>
Dr. Salama has clinical expertise in: 
<br>+ mood / anxiety disorders across the reproductive life span 
<br>+ premenstrual dysphoric disorder
<br>+ miscarriage / perinatal loss
<br>+ infertility and related treatment 
<br>+ pregnancy / postpartum 
<br>+ traumatic childbirth 
<br>+ breastfeeding
<br>+ stressors associated with motherhood & parenting
<br>+ peri menopause / menopause
    
</main>